#header{
	width:1250px;
	height:190px;
	background-image:url(image/header.jpg);
	background-repeat: no-repeat;
	background-position:center;
}
.logo img{
	margin-top:20px;
	margin-left:20px;
	border:lightblue 5px solid;
}
.banner{
	width:1250px;
	height:30px;
	background-image:url(image/banner.jpg);
	margin-top: 14px;
}
.nav{
	width:1000px;
}
.nav ul{
	list-style:none;
}
.nav ul li{
	float:left;
}
.nav ul li a{
	color:white;
	margin-right: 50px;
	line-height:28px;
	font-weight: bold;
	border-right: 1px solid #fff;
	font-size:14px;
	padding-right: 20px;
	text-decoration: none;
}
.nav ul li a:hover{
	text-decoration:underline;
	color:green;
}
.search form input{
	line-height:20px;
}
.search form input[type=text ]{
	background-color: #f8f5ee;
	margin-left:100px;
}
.search form input[type=button]{
	background-color: #000;
	color: #fff;
	border: 1px solid #f8f5ee;
}
#content{
	width:1250px;
	height:900px;
	margin-top:30px;
}
.top{
	width:1250px;
	height:350px;
}
.top div{
	float:left;
}
.top1{
	width:310px;
	height:400px;
}
.top1 img{
	margin-top: 30px;
	margin-left:-10px;
}
.top1 ul li{
	line-height:30px;
}
.top1 ul li a{
	text-decoration:none;
}
.top1 ul li a:hover{
	color:red;
}
.top1 ul li span{
	float:right;
}
.top2{
	width:330px;
	margin-left:120px;
	height:400px;
}
.top2 img{
	margin-top: 30px;
	margin-left:-10px;
}
.top2 ul li{
	line-height:30px;
}
.top2 ul li a{
	text-decoration:none;
}
.top2 ul li a:hover{
	color:red;
	text-decoration:underline;
}
.top2 ul li span{
	float:right;
}
.top3{
	width:320px;
	height:400px;
	border:lightblue 5px solid;
	margin-left:110px;
	margin-top:0px;
}
.top3 img{
	margin-left:38px;
	margin-top:20px;
}
.top3 span{
	margin-left:80px;
	margin-top:30px;
}
.bottom{
	width:1250px;
	height:500px;
}
.bottom div{
	float:left;
	margin-top:80px;
}
.div1 img{
	margin-left:-10px;
}
.div1 ul li{
	line-height:30px;
}
.div1 ul li a{
	text-decoration:none;
}
.div1 ul li a:hover{
	color:red;
	text-decoration:underline;
}
.div2{
	width:300px;
	height:350px;
	margin-left:80px;
	border:lightblue 5px solid;
}
.div2 img{
	width:268px;
	height:288px;
	margin-left:15px;
	margin-top:20px;
}
.div2 span{
	margin-left:30px;
}
.div3{
	width:300px;
	height:350px;
	margin-left:15px;
	border:lightblue 5px solid;
}
.div3 img{
	width:260px;
	height:285px;
	margin-left:20px;
	margin-top:20px;
}
.div3 span{
	margin-left:100px;
}
.div4{
	width:300px;
	height:350px;
	margin-left:15px;
	border:lightblue 5px solid;
}
.div4 img{
	width:268px;
	margin-left:20px;
	margin-top:20px;
}
.div4 span{
	margin-left:110px;
}
#footer{
    width:1250px;
}
#footer img{
	width:1230px;
	height:1px;
	text-align:center;
	margin-top:80px;
}
#footer div{
	margin-top:30px;
	margin-left:250px;
	margin-bottom:40px
}